:root{
    --main-color : #ff9800;
}
*{
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

/* start settings box */
.settings-box{
    position: fixed;
    background-color: #fff;
    width: 270px;
    min-height: 100vh;
    z-index: 100;
    left: -268px;
    border-right: 2px solid #fff;
    transition: all 0.5s;
    opacity: 0.95;
}
.settings-box.open{
    left: 0;
}


.setting-toggle{
    position: absolute;
    right: -30px;
    top: 226px;
    background-color: white;
    color: var(--main-color);
    cursor: pointer; 
    text-align: center;
}
.setting-toggle .fa-gear{
    width: 28px;
    padding: 8px 0;
}
.setting-toggle::after{
    content: '';
    border-style: solid;
    border-width: 16px;
    border-color: transparent transparent transparent #FFF;
    position: absolute;
    left: 28px;
}

.settings-toggle.spin::after {
    border-color: transparent red transparent transparent;
    right: 0px;
    left: 0;
}
.settings-box .settings-container{
    padding: 8px;
}
.settings-box .options-box .color-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-box .options-box {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.settings-box .options-box h4{
    margin: 10px 0;
    font-size: 18px;
}

.settings-box .options-box li{
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    opacity: .5;
    cursor: pointer;
    border: 3px solid #ddd;
}
.settings-box .options-box li.active{
    opacity: 1;
    border: 3px solid #fff;
}
.settings-box .options-box li:nth-child(1){
    background-color: #ff9800;
}
.settings-box .options-box li:nth-child(2){
    background-color: #f44336;
}
.settings-box .options-box li:nth-child(3){
    background-color: #009688;
}
.settings-box .options-box li:nth-child(4){
    background-color: #00bcd4;
}
.settings-box .options-box li:nth-child(5){
    background-color: #3f51b5;
}

/* start random background */
.settings-box .random-background .no,
.settings-box .random-background .yes{
    width: 50px;
    display: inline-block;
    background-color: #00BCD4;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    opacity: .5;
}
.settings-box .random-background span.active{
    opacity: 1;
}
/* end random background */

/* end settings box */

/* start landing page */
.landing-page{
    min-height: 100vh;
    background-image: url(../imgs/1.jpg);
    background-size: cover;
    position: relative;
}

.landing-page .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.6);
    z-index: 1;
}

.landing-page .header {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.landing-page .header .logo{
    font-weight: bold;
    margin-left: 10px;
    width: 300px;
    font-size: 18px;
}

.landing-page .header .links{
    list-style: none;
    margin-right: 10px;
    font-size: 16px;
    padding: 0;
}
.landing-page .header .links li a{
    text-decoration: none;
    color: white;
}
.landing-page .header .links li.active a,
.landing-page .header .links li:hover a
{
    color: var(--main-color);
    font-weight: bold;
    transition: all 0.3s;
}
.landing-page .header .links li {
    display: inline-block;
    margin-left: 15px;
}

/* end landing page */

/* start introduction text */
.introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.introduction-text h1{
    margin: 0 0 15px;
}
.introduction-text h1 span{
    color: var(--main-color);
}
.introduction-text p{
line-height: 1.6;
font-size: 18px;
margin: 0;
}


/* end introduction text */
