:root{
    --main-color : #ff9800;
}
body{
    font-family: "Open Sans", sans-serif;
}

/* start landing page */
.landing-page{
    min-height: 100vh;
    background-image: url(../imgs/1.jpg);
    background-size: cover;
    position: relative;
}

.landing-page .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.6);
    z-index: 1;
}

.landing-page .header {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.landing-page .header .logo{
    font-weight: bold;
    margin-left: 10px;
    width: 300px;
    font-size: 18px;
}

.landing-page .header .links{
    list-style: none;
    margin-right: 10px;
    font-size: 16px;
    padding: 0;
}
.landing-page .header .links li a{
    text-decoration: none;
    color: white;
}
.landing-page .header .links li.active a,
.landing-page .header .links li:hover a
{
    color: var(--main-color);
    font-weight: bold;
    transition: all 0.3s;
}
.landing-page .header .links li {
    display: inline-block;
    margin-left: 15px;
}

/* end landing page */

/* start introduction text */
.introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    z-index: 2;
    text-align: center;
}

.introduction-text h1{
    margin: 0 0 15px;
}
.introduction-text h1 span{
    color: var(--main-color);
}
.introduction-text p{
line-height: 1.6;
font-size: 18px;
margin: 0;
}


/* end introduction text */
